// icon colors

.clear-day, .clear-night {
    color: #F6DE3A;
}

.partly-cloudy-day, .partly-cloudy-night, .cloudy, .fog {
    color: #A1B6C4;
}

.rain, .wind, .thunderstorm, .tornado {
    color: #90C8EE;
}

.snow, .sleet, .hail {
    color: #D4E9F8;
}
