<div class="flip col-md-3 col-sm-6 col-xs-12">
    <div class="card" ng-class="{'flipped': isFlipped}" ng-click="isFlipped=!isFlipped">
        <div class="face front">
            <h5>{{day.time}}</h5>
            <h1 class="forecast-icon">
                <forecast-icon icon="{{day.icon}}"></forecast-icon>
            </h1>
            <h3>
                 {{day.temperatureMax | number:0}}&deg; / {{day.temperatureMin | number:0}}&deg;
            </h3>
            <h6 class="summary">{{day.summary}}</h6>
        </div>
        <div class="face back">
            <h6>
                <small>Precip Type: </small>
                {{day.precipType ? day.precipType : 'none' }}
            </h6>
            <h6>
                <small>Precip Probability: </small>
                {{day.precipProbability}}
            </h6>
            <h6>
                <small>Dew Point: </small>
                {{day.dewPoint}}&deg;
            </h6>
            <h6>
                <small>Humidity: </small>
                {{day.humidity}}%
            </h6>
            <h6>
                <small>Wind Speed: </small>
                {{day.windSpeed}}mph
            </h6>
            <h6>
                <small>Wind Bearing: </small>
                {{day.windBearing}}&deg;
            </h6>
            <h6>
                <small>Pressure: </small>
                {{day.pressure | number:0 }}mb
            </h6>
        </div>
    </div>
</div>
